$shadow: rgba(0, 0, 0, .2);
$transition-speed: .2s;
$overlay: rgba(155, 155, 155, .5);
$lightest-gray:#f9f9fb;
$primary-color: #3f80be;
$shadow: rgba(0, 0, 0, .1);
$shadow-light:rgba(0, 0, 0, .05);
$font-weight-normal:  400;
$white: #fff;
$black: #000;
